@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Barlow:wght@600&family=Fraunces:ital,opsz,wght@0,9..144,100..900;1,9..144,100..900&display=swap");
/*
  1. Use a more-intuitive box-sizing model.
*/
*,
*::before,
*::after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

/*
  2. Remove default margin
*/
* {
  margin: 0;
}

/*
  Typographic tweaks!
  3. Add accessible line-height
  4. Improve text rendering
*/
body {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
}

/*
  5. Improve media defaults
*/
img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}

/*
  6. Remove built-in form typography styles
*/
input,
button,
textarea,
select {
  font: inherit;
}

/*
  7. Avoid text overflows
*/
p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}

/*
  8. Create a root stacking context
*/
#root,
#__next {
  isolation: isolate;
}

html {
  scroll-behavior: smooth;
}

body {
  font-size: 10px;
}

main {
  max-width: 1440px;
  margin: 0 auto;
  width: 100%;
}

.header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 100%;
  height: 100vh;
  background-image: url(/images/mobile/image-header.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}
@media (min-width: 768px) {
  .header {
    background-image: url(/images/desktop/image-header.jpg);
  }
}

.navigation {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 3em;
}
.navigation__list {
  position: relative;
  background-color: hsl(0, 0%, 100%);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 0 auto;
  width: 80%;
  list-style: none;
  max-height: 0;
  overflow: hidden;
  -webkit-transition: max-height 0.3s ease;
  transition: max-height 0.3s ease;
}
.navigation__list::after {
  content: "";
  position: absolute;
  border-style: solid;
  border-width: 19px 0 20px 36px;
  border-color: transparent transparent transparent hsl(0, 0%, 100%);
  top: -20px;
  right: -10px;
  -webkit-transform: rotate(300deg);
          transform: rotate(300deg);
}
.navigation__item {
  text-align: center;
  margin-bottom: 0.5em;
}
.navigation__link {
  display: block;
  text-decoration: none;
  margin: 0 2em;
  font-size: 1.2rem;
  color: hsl(232, 10%, 55%);
  font-family: "Barlow", sans-serif;
  padding: 0.4em;
  cursor: pointer;
}
.navigation__button {
  padding: 1em 2em;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  border-radius: 50px;
  border: none;
  font-size: 1rem;
  background-color: hsl(51, 100%, 49%);
  color: hsl(212, 27%, 19%);
  font-family: "Fraunces";
  font-weight: 900;
  text-align: center;
  cursor: pointer;
}

.active {
  overflow: visible;
  max-height: 300px;
  padding: 5em 0;
}

.burger-button {
  cursor: pointer;
}

.hero__title {
  padding-top: 1em;
  letter-spacing: 5px;
  font-family: "Fraunces";
  font-weight: 900;
  text-align: center;
  text-transform: uppercase;
  color: hsl(0, 0%, 100%);
  font-size: 2.8rem;
}
.hero__image {
  margin: 2em auto;
}

.intro-section {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 100%;
  width: 100%;
  padding-bottom: 2em;
}
@media (min-width: 768px) {
  .intro-section {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    padding-bottom: 0;
  }
}
@media (min-width: 768px) {
  .intro-section--reverse {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: reverse;
        -ms-flex-direction: row-reverse;
            flex-direction: row-reverse;
  }
}
.intro-section__description {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 100%;
  padding: 2em;
}
@media (min-width: 768px) {
  .intro-section__description {
    width: 50%;
    padding: 0;
  }
}
.intro-section__description-title {
  font-size: 2rem;
  text-align: center;
  font-family: "Fraunces";
  padding: 1em;
  color: hsl(212, 27%, 19%);
}
@media (min-width: 768px) {
  .intro-section__description-title {
    font-size: 2.6rem;
    padding: 0;
    text-align: left;
  }
}
.intro-section__description-text {
  font-size: 1rem;
  font-family: "Barlow", sans-serif;
  font-weight: 600;
  color: hsl(232, 10%, 55%);
  text-align: center;
}
@media (min-width: 768px) {
  .intro-section__description-text {
    font-size: 1.2rem;
    text-align: left;
    padding: 0;
  }
}
.intro-section__link {
  text-align: center;
  font-size: 1rem;
  font-weight: bold;
  font-family: "Fraunces";
  text-decoration-color: hsl(51, 100%, 49%);
  text-decoration-thickness: 4px;
  text-align: center;
  color: hsl(212, 27%, 19%);
}
.intro-section__link--red {
  text-decoration-color: hsl(7, 99%, 70%);
}
.intro-section__link:hover {
  text-decoration-thickness: 7px;
}

.intro-link-container {
  margin: 4em 0 1em 0;
}
@media (min-width: 768px) {
  .intro-link-container {
    -ms-flex-item-align: start;
        align-self: start;
    margin-left: 0;
  }
}

@media (min-width: 768px) {
  .picture-container {
    width: 50%;
    padding: 0;
  }
}

.egg-image {
  display: block;
}
@media (min-width: 768px) {
  .egg-image {
    content: url("/images/desktop/image-transform.jpg");
  }
}

.glass-image {
  display: block;
}
@media (min-width: 768px) {
  .glass-image {
    content: url("/images/desktop/image-stand-out.jpg");
  }
}

.showcase-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 7em 2em;
  width: 100%;
  height: 100vh;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}
.showcase-container__title {
  font-size: 2.2rem;
  font-family: "Fraunces";
  font-weight: 700;
  color: hsl(167, 40%, 24%);
  margin-bottom: 1em;
}
.showcase-container__text {
  font-size: 1rem;
  font-family: "Barlow", sans-serif;
  color: hsl(167, 40%, 24%);
  text-align: center;
}

.graphic-background {
  background-image: url(/images/mobile/image-graphic-design.jpg);
}
@media (min-width: 768px) {
  .graphic-background {
    background-image: url(/images/desktop/image-graphic-design.jpg);
  }
}

.photo-background {
  background-image: url(/images/mobile/image-photography.jpg);
}
@media (min-width: 768px) {
  .photo-background {
    background-image: url(/images/desktop/image-photography.jpg);
  }
}

.testimonials-section__title {
  text-align: center;
  font-size: 1rem;
  font-family: "Fraunces";
  color: hsl(210, 4%, 67%);
  padding: 2em;
  letter-spacing: 5px;
}
.testimonials-section__person {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 2em;
}
.testimonials-section__person-image {
  width: 90px;
  border-radius: 50%;
  padding: 1em;
}
.testimonials-section__person-text {
  padding: 1em;
  font-size: 1rem;
  font-family: "Barlow", sans-serif;
  font-weight: 600;
  color: hsl(213, 9%, 39%);
  text-align: center;
}
.testimonials-section__person-name {
  font-size: 1.2rem;
  font-family: "Fraunces";
  font-weight: 900;
  padding: 0.5em;
}
.testimonials-section__person-title {
  font-size: 0.8rem;
  font-family: "Barlow", sans-serif;
  color: hsl(210, 4%, 67%);
  padding-bottom: 2em;
}

.gallery-section {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(2, 1fr);
  grid-gap: 0;
  width: 100%;
  height: auto;
}

/* Dla każdego obrazka */
.gallery-section__firstImg,
.gallery-section__secondImg,
.gallery-section__thirdImg,
.gallery-section__fourthImg {
  width: 100%;
  height: 200px;
  background-size: cover;
  background-position: center;
}
@media (min-width: 455px) {
  .gallery-section__firstImg,
  .gallery-section__secondImg,
  .gallery-section__thirdImg,
  .gallery-section__fourthImg {
    height: 350px;
  }
}

/* Określenie pozycji obrazków */
.gallery-section__firstImg {
  background-image: url(/images/mobile/image-gallery-milkbottles.jpg);
  grid-column: 1;
  grid-row: 1;
}

.gallery-section__secondImg {
  background-image: url(/images/mobile/image-gallery-orange.jpg);
  grid-column: 2;
  grid-row: 1;
}

.gallery-section__thirdImg {
  background-image: url(/images/mobile/image-gallery-cone.jpg);
  grid-column: 1;
  grid-row: 2;
}

.gallery-section__fourthImg {
  background-image: url(/images/mobile/image-gallery-sugar-cubes.jpg);
  grid-column: 2;
  grid-row: 2;
}

.footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 6em 2em;
  background-color: hsl(169, 47%, 67%);
}
.footer__logo {
  margin-bottom: 3em;
}

.nav__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  list-style: none;
  padding: 2em 0;
}
.nav__item {
  text-align: center;
  margin-bottom: 0.5em;
}
.nav__link {
  display: block;
  text-decoration: none;
  margin: 0 2em;
  font-size: 1rem;
  color: hsl(167, 40%, 24%);
  font-family: "Barlow", sans-serif;
  cursor: pointer;
}

.socials {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 40%;
  padding-top: 3em;
  cursor: pointer;
}/*# sourceMappingURL=styles.css.map */