/* 
=================================
GLOBAL STYLES
=================================
*/

@import 'colors';
@import 'fonts';
@import 'reset';

html {
  scroll-behavior: smooth;
}
body {
  font-size: 10px;
}
main {
  max-width: 1440px;
  margin: 0 auto;
  width: 100%;
}

/*
=================================
HEADER SECTION
=================================
*/

.header {
  display: flex;
  flex-direction: column;
  position: relative;
  height: 100vh;
  width: 100%;
  background-image: url(/images/mobile/image-header.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  @media (min-width: 768px) {
    background-image: url(/images/desktop/image-header.jpg);
  }
}
.navigation {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 3em;
  position: sticky;
  z-index: 10;
  top: 0;
  width: 100%;
  background-color: #3ebfff;
  @media (min-width: 840px) {
    flex-direction: row;
    justify-content: space-between;
  }
  &__list {
    position: relative;
    background-color: $white;
    top: 15px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    list-style: none;
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.3s ease;
    height: 100%;
    @media (min-width: 840px) {
      overflow: visible;
      flex-direction: row;
      width: 100%;
      justify-content: flex-end;
    }
  }

  &__list::after {
    content: '';
    position: absolute;
    border-style: solid;
    border-width: 19px 0 20px 36px;
    border-color: transparent transparent transparent $white;
    top: -20px;
    right: -10px;
    transform: rotate(300deg);
    @media (min-width: 840px) {
      display: none;
    }
  }
  &__item {
    text-align: center;
    margin-bottom: 0.5em;
    transition: 0.3s;
    &:hover {
      @media (min-width: 840px) {
        transform: translateY(-2px);
      }
    }
  }
  &__link {
    display: block;
    text-decoration: none;
    margin: 0 2em;
    font-size: 1.2rem;
    color: $dark-grayish-blue;
    font-family: $barlow-family;
    padding: 0.4em;
    cursor: pointer;
    @media (min-width: 840px) {
      color: $white;
    }
  }
  .logo-menu {
    display: flex;
    justify-content: space-between;
    &__img {
      height: 30px;
    }
  }
  &__button {
    padding: 1em 2em;
    width: fit-content;
    border-radius: 50px;
    border: none;
    font-size: 1rem;
    background-color: $yellow;
    color: $very-dark-blue;
    font-family: $fraunces-family;
    font-weight: 900;
    text-align: center;
    cursor: pointer;
    transition: 0.3s;
    @media (min-width: 840px) {
      background-color: $white;
      &:hover {
        background-color: #64c4f4;
        color: $white;
      }
    }
  }
}

.active {
  overflow: visible;
  max-height: 300px;
  padding: 1em;
  width: 100%;
}
.burger-button {
  cursor: pointer;
  @media (min-width: 840px) {
    display: none;
  }
}
.hero {
  &__title {
    padding-top: 5em;
    letter-spacing: 5px;
    font-family: $fraunces-family;
    font-weight: 900;
    text-align: center;
    text-transform: uppercase;
    color: $white;
    font-size: 2.8rem;
  }
  &__image {
    margin: 2em auto;
  }
}
/* 
=================================
INTRO SECTION
=================================
*/

.intro-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100%;
  width: 100%;
  padding-bottom: 2em;
  @media (min-width: 768px) {
    flex-direction: row;
    padding-bottom: 0;
  }
  &--reverse {
    @media (min-width: 768px) {
      flex-direction: row-reverse;
    }
  }
  &__description {
    display: flex;
    flex-direction: column;
    padding: 4em 2em;
    @media (min-width: 768px) {
      padding: 0 6em;
      flex-basis: 50%;
    }
  }
  &__description-title {
    font-size: 2rem;
    text-align: center;
    font-family: $fraunces-family;
    padding: 1em;
    color: $very-dark-blue;
    @media (min-width: 768px) {
      font-size: 2.6rem;
      padding: 0.5em 0;
      text-align: left;
    }
    @media (orientation: landscape) {
      font-size: 2rem;
    }
  }
  &__description-text {
    font-size: 1rem;
    font-family: $barlow-family;
    font-weight: 600;
    color: $dark-grayish-blue;
    text-align: center;
    padding-bottom: 1em;
    @media (min-width: 768px) {
      font-size: 1.2rem;
      text-align: left;
      padding-bottom: 2em;
    }
    @media (orientation: landscape) {
      font-size: 1rem;
    }
  }
  &__link {
    font-size: 1rem;
    font-weight: bold;
    font-family: $fraunces-family;
    text-decoration-color: $yellow;
    text-decoration-thickness: 4px;
    text-align: center;
    color: $very-dark-blue;
    @media (min-width: 765px) {
      align-self: start;
    }
    &--red {
      text-decoration-color: $soft-red;
    }
    &:hover {
      text-decoration-thickness: 7px;
    }
  }
}
.egg-image,
.glass-image {
  @media (min-width: 765px) {
    flex-basis: 50%;
  }
}
/* 
=================================
SHOWCASE SECTION
=================================
*/

.cherry-image,
.orange-image {
  width: 100%;
}
.showcase-section {
  display: flex;
  flex-direction: column;
  @media (min-width: 768px) {
    flex-direction: row;
  }
}

.showcase-container {
  position: relative;
  width: 100%;

  &__description {
    position: absolute;
    bottom: 4em;
    left: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0 1em;
    @media (min-width: 1100px) {
      margin: 0 10em;
      bottom: 6em;
    }
  }
  &__title {
    font-size: 2.2rem;
    font-family: $fraunces-family;
    font-weight: 700;
    color: $dark-cyan;
    margin-bottom: 10px;
  }
  &__text {
    font-size: 1rem;
    font-family: $barlow-family;
    color: $dark-cyan;
    text-align: center;
  }
}

//TESTIMONIALS-SECTION
.testimonials-section {
  padding: 4em 0;
  @media (min-width: 768px) {
    padding: 4em 5em;
  }
  &__container {
    display: flex;
    flex-direction: column;
    @media (min-width: 768px) {
      flex-direction: row;
    }
  }
  &__title {
    text-align: center;
    font-size: 1rem;
    font-family: $fraunces-family;
    color: $grayish-blue;
    padding: 2em;
    letter-spacing: 5px;
  }
  &__person {
    flex-basis: 33%;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 2em;

    &-image {
      width: 90px;
      border-radius: 50%;
      padding: 1em;
    }
    &-text {
      padding: 1em;
      font-size: 1rem;
      font-family: $barlow-family;
      font-weight: 600;
      color: $very-dark-grayish-blue;
      text-align: center;
    }
    &-name {
      font-size: 1.2rem;
      font-family: $fraunces-family;
      font-weight: 900;
      padding: 0.5em;
    }
    &-title {
      font-size: 0.8rem;
      font-family: $barlow-family;
      color: $grayish-blue;
      padding-bottom: 2em;
    }
  }
}
//GALLERY-SECTION

.gallery-section {
  display: grid;

  grid-template-columns: repeat(auto-fill, minmax(180px, 1fr));
  width: 100%;
  height: auto;
  @media (min-width: 768px) {
    grid-template-columns: repeat(4, 1fr);
  }
}

//FOOTER

.footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 6em 2em;
  background-color: $dark-footer-cyan;

  &__logo {
    margin-bottom: 3em;
  }
}
.nav {
  &__list {
    display: flex;
    list-style: none;
    padding: 2em 0;
  }

  &__item {
    text-align: center;
    margin-bottom: 0.5em;
  }
  &__link {
    display: block;
    text-decoration: none;
    margin: 0 2em;
    font-size: 1rem;
    color: $dark-cyan;
    font-family: $barlow-family;
    cursor: pointer;
    transition: 0.2s;
    &:hover {
      color: $white;
    }
  }
}
.socials {
  display: flex;
  justify-content: center;
  padding-top: 1em;
  cursor: pointer;

  &__img {
    margin: 0 1em;
    &:hover {
      background-color: aquamarine;
    }
  }
}
