@import 'colors';
@import 'fonts';
@import 'reset';

html {
  scroll-behavior: smooth;
}
body {
  font-size: 10px;
}
main {
  max-width: 1440px;
  margin: 0 auto;
  width: 100%;
}
//HEADER SECTION

.header {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100vh;
  background-image: url(/images/mobile/image-header.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  @media (min-width: 768px) {
    background-image: url(/images/desktop/image-header.jpg);
  }
}
.navigation {
  display: flex;
  justify-content: space-between;
  padding: 3em;
  &__list {
    position: relative;
    background-color: $white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    width: 80%;
    list-style: none;
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.3s ease;
  }
  &__list::after {
    content: '';
    position: absolute;
    border-style: solid;
    border-width: 19px 0 20px 36px;
    border-color: transparent transparent transparent $white;
    top: -20px;
    right: -10px;
    transform: rotate(300deg);
  }
  &__item {
    text-align: center;
    margin-bottom: 0.5em;
  }
  &__link {
    display: block;
    text-decoration: none;
    margin: 0 2em;
    font-size: 1.2rem;
    color: $dark-grayish-blue;
    font-family: $barlow-family;
    padding: 0.4em;
    cursor: pointer;
  }
  &__button {
    padding: 1em 2em;
    width: fit-content;
    border-radius: 50px;
    border: none;
    font-size: 1rem;
    background-color: $yellow;
    color: $very-dark-blue;
    font-family: $fraunces-family;
    font-weight: 900;
    text-align: center;
    cursor: pointer;
  }
}
.active {
  overflow: visible;
  max-height: 300px;
  padding: 5em 0;
}
.burger-button {
  cursor: pointer;
}
.hero {
  &__title {
    padding-top: 1em;
    letter-spacing: 5px;
    font-family: $fraunces-family;
    font-weight: 900;
    text-align: center;
    text-transform: uppercase;
    color: $white;
    font-size: 2.8rem;
  }
  &__image {
    margin: 2em auto;
  }
}
//INTRO SECTION

.intro-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100%;
  width: 100%;
  padding-bottom: 2em;
  @media (min-width: 768px) {
    flex-direction: row;
    padding-bottom: 0;
  }
  &--reverse {
    @media (min-width: 768px) {
      flex-direction: row-reverse;
    }
  }
  &__description {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100%;
    padding: 2em;
    @media (min-width: 768px) {
      width: 50%;
      padding: 0;
    }
  }
  &__description-title {
    font-size: 2rem;
    text-align: center;
    font-family: $fraunces-family;
    padding: 1em;
    color: $very-dark-blue;
    @media (min-width: 768px) {
      font-size: 2.6rem;
      padding: 0;
      text-align: left;
    }
  }
  &__description-text {
    font-size: 1rem;
    font-family: $barlow-family;
    font-weight: 600;
    color: $dark-grayish-blue;
    text-align: center;
    @media (min-width: 768px) {
      font-size: 1.2rem;
      text-align: left;
      padding: 0;
    }
  }
  &__link {
    text-align: center;
    font-size: 1rem;
    font-weight: bold;
    font-family: $fraunces-family;
    text-decoration-color: $yellow;
    text-decoration-thickness: 4px;
    text-align: center;
    color: $very-dark-blue;

    &--red {
      text-decoration-color: $soft-red;
    }
    &:hover {
      text-decoration-thickness: 7px;
    }
  }
}
.intro-link-container {
  margin: 4em 0 1em 0;
  @media (min-width: 768px) {
    align-self: start;
    margin-left: 0;
  }
}
.picture-container {
  @media (min-width: 768px) {
    width: 50%;
    padding: 0;
  }
}
.egg-image {
  display: block;
  @media (min-width: 768px) {
    content: url('/images/desktop/image-transform.jpg');
  }
}
.glass-image {
  display: block;
  @media (min-width: 768px) {
    content: url('/images/desktop/image-stand-out.jpg');
  }
}
//SHOWCASE SECTION

.showcase-container {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
  padding: 7em 2em;
  width: 100%;
  height: 100vh;

  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  &__title {
    font-size: 2.2rem;
    font-family: $fraunces-family;
    font-weight: 700;
    color: $dark-cyan;
    margin-bottom: 1em;
  }
  &__text {
    font-size: 1rem;
    font-family: $barlow-family;
    color: $dark-cyan;
    text-align: center;
  }
}
.graphic-background {
  background-image: url(/images/mobile/image-graphic-design.jpg);
  @media (min-width: 768px) {
    background-image: url(/images/desktop/image-graphic-design.jpg);
  }
}
.photo-background {
  background-image: url(/images/mobile/image-photography.jpg);
  @media (min-width: 768px) {
    background-image: url(/images/desktop/image-photography.jpg);
  }
}
//TESTIMONIALS-SECTION
.testimonials-section {
  &__title {
    text-align: center;
    font-size: 1rem;
    font-family: $fraunces-family;
    color: $grayish-blue;
    padding: 2em;
    letter-spacing: 5px;
  }
  &__person {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 2em;
    &-image {
      width: 90px;
      border-radius: 50%;
      padding: 1em;
    }
    &-text {
      padding: 1em;
      font-size: 1rem;
      font-family: $barlow-family;
      font-weight: 600;
      color: $very-dark-grayish-blue;
      text-align: center;
    }
    &-name {
      font-size: 1.2rem;
      font-family: $fraunces-family;
      font-weight: 900;
      padding: 0.5em;
    }
    &-title {
      font-size: 0.8rem;
      font-family: $barlow-family;
      color: $grayish-blue;
      padding-bottom: 2em;
    }
  }
}
//GALLERY-SECTION

.gallery-section {
  display: grid;

  grid-template-columns: repeat(auto-fill, minmax(180px, 1fr));
  width: 100%;
  height: auto;
  @media (min-width: 768px) {
    grid-template-columns: repeat(4, 1fr);
  }
}

//FOOTER

.footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 6em 2em;
  background-color: $dark-footer-cyan;

  &__logo {
    margin-bottom: 3em;
  }
}
.nav {
  &__list {
    display: flex;
    list-style: none;
    padding: 2em 0;
  }

  &__item {
    text-align: center;
    margin-bottom: 0.5em;
  }
  &__link {
    display: block;
    text-decoration: none;
    margin: 0 2em;
    font-size: 1rem;
    color: $dark-cyan;
    font-family: $barlow-family;
    cursor: pointer;
  }
}

.socials {
  display: flex;
  justify-content: space-between;
  width: 40%;
  padding-top: 3em;
  cursor: pointer;
}
