@import 'colors';
@import 'fonts';
@import 'reset';

body {
  font-size: 10px;
}
main {
  max-width: 1440px;
  margin: 0 auto;
  width: 100%;
}
.header {
  display: flex;
  flex-direction: column;

  width: 100%;
  height: 100vh;
  background-image: url(/images/mobile/image-header.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}
.navigation {
  display: flex;
  justify-content: space-between;
  padding: 3em;
}

.hero {
  &__title {
    padding-top: 1em;
    letter-spacing: 5px;
    font-family: $fraunces-family;
    font-weight: 900;
    text-align: center;
    text-transform: uppercase;
    color: $white;
    font-size: 2.8rem;
  }
  &__image {
    margin: 2em auto;
  }
}
.intro-section {
  display: flex;
  flex-direction: column;
  height: 100%;

  &__description {
    display: flex;
    flex-direction: column;
    height: 100%;
    padding: 2em;
  }
  &__description-title {
    font-size: 2rem;
    text-align: center;
    font-family: $fraunces-family;
    padding: 1em;
    color: $very-dark-blue;
  }
  &__description-text {
    font-size: 1rem;
    font-family: $barlow-family;
    font-weight: 600;
    color: $dark-grayish-blue;
    text-align: center;
  }
  &__link {
    font-size: 1rem;
    font-weight: bold;
    font-family: $fraunces-family;
    text-decoration-color: $yellow;
    text-decoration-thickness: 6px;
    text-align: center;
    color: $very-dark-blue;
    padding-bottom: 4em;
  }
}
.showcase-container {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
  padding: 7em 2em;
  width: 100%;
  height: 100vh;

  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  &__title {
    font-size: 2.2rem;
    font-family: $fraunces-family;
    font-weight: 700;
    color: $dark-cyan;
    margin-bottom: 1em;
  }
  &__text {
    font-size: 1rem;
    font-family: $barlow-family;
    color: $dark-cyan;
    text-align: center;
  }
}
.graphic-background {
  background-image: url(/images/mobile/image-graphic-design.jpg);
}
.photo-background {
  background-image: url(/images/mobile/image-photography.jpg);
}

.testimonials-section {
  &__title {
    text-align: center;
    font-size: 1rem;
    font-family: $fraunces-family;
    color: $grayish-blue;
    padding: 2em;
    letter-spacing: 5px;
  }
  &__person {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 2em;
    &-image {
      width: 90px;
      border-radius: 50%;
      padding: 1em;
    }
    &-text {
      padding: 1em;
      font-size: 1rem;
      font-family: $barlow-family;
      font-weight: 600;
      color: $very-dark-grayish-blue;
      text-align: center;
    }
    &-name {
      font-size: 1.2rem;
      font-family: $fraunces-family;
      font-weight: 900;
      padding: 0.5em;
    }
    &-title {
      font-size: 0.8rem;
      font-family: $barlow-family;
      color: $grayish-blue;
      padding-bottom: 2em;
    }
  }
}
.paintings-section {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(2, 1fr);
  grid-column-gap: 0px;
  grid-row-gap: 0px;
}

.footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 6em 2em;
  background-color: $dark-footer-cyan;

  &__logo {
    margin-bottom: 3em;
  }
}
.nav {
  &__list {
    display: flex;
    list-style: none;
    padding: 2em 0;
  }

  &__item {
    text-align: center;
    margin-bottom: 0.5em;
  }
  &__link {
    display: block;
    text-decoration: none;
    margin: 0 2em;
    font-size: 1rem;
    color: $dark-cyan;
    font-family: $barlow-family;
    cursor: pointer;
  }
}

.socials {
  display: flex;
  justify-content: space-between;
  width: 40%;
  padding-top: 3em;
}
